body {
    background-color: #0F1924;
    margin: 0px;
    color: white;
}

.navigation {
    position: fixed;
    width: 100vw;
    height: 120px;
    border-bottom: white 2px solid;
}

.title {
    position: absolute;
    left: 250px;
    text-align: center;
    width: 100vw;
    border-bottom: black 3px solid;
}

h1 {
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    color: black;
}

#external-content {
    position: fixed;
    left: 250px;
    top: 180px;
    padding-left: 25px;
    width: 100vw;
    height: 100vw;
}

iframe {
    width: 100vw;
    height:35%;
    border: none;
    padding-top: 25px;
}

.sidebar {
    position: fixed;
    top: 170px;
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow-y: auto;
    width: 250px;
    border-right: white 2px solid;
}



.sidebar-letters {
    background-image: linear-gradient(to right, #1b3b80, #22468b, #295296, #305ea1, #386aac);
    padding-bottom: 15px;
    margin-bottom: 5px;
    margin-top: 10px;
    height: 30px;
    width: 240px;
    font-size: 35px;
    font-family:'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: none;
}

.sidebar-letters:hover {
    color: white;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 50px;
}

.navs {
    background-image: linear-gradient(to right, #1b3b80, #22468b, #295296, #305ea1, #386aac);
    
    
    height: 50px;
    width: 250px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family:'Times New Roman', Times, serif;
    
}

.navs:hover {
    color: white;
}
